.details {
    background-color: #f7f8e2;
    border-radius: 8px 8px 8px 8px;
    overflow: hidden;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(21, 23, 24, 0.62);
    -moz-box-shadow: 10px 10px 20px 0px rgba(21, 23, 24, 0.62);
    box-shadow: 10px 10px 20px 0px rgba(21, 23, 24, 0.62); 
    max-width: 50%;    
    margin-bottom: 15px;
    padding: 10px
}