.App {
  text-align: center;
}

.divider {
  max-width: 3.25rem;
  border-width: 0.2rem;
  border-color: #f3f325;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
} */
/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
/* 
.App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



/* -------------------NAVBAR---------------------------- */


#header-nav {
  background: yellow;
}

.container-nav {
  max-width: 80%;
}

.navbar {
  background: yellow;
}

.navbar-right {
  margin-left: auto!important;
}

.navbar-brand {
  /* float: left; */
  height: 70px;
}

.pigLogo {
  position: absolute;
  z-index: 1;
}

#derecha {

}
/* Fin navbar */



/* footer */
#footer {
  background: yellow;
  width: 100%;
  margin: 0;
  padding: 0;

}

#footer hr {
  height: 0px;
  width: 100px;
  overflow: visible;
  border-color: black;
  margin: 5px auto;
}

li {
  color:black;
  text-decoration: none;
}

li:hover {
  color: white;
  text-decoration: none;
}

.hca {
  color: black;
}

.Coshipigua {
  color: black;
}

.Coshipigua:hover {
  text-decoration: none;
  color: black;
}
/* fin del footer */