.App {
  text-align: center;
}

.divider {
  max-width: 3.25rem;
  border-width: 0.2rem;
  border-color: #f3f325;
}
/* -------------------NAVBAR---------------------------- */


#header-nav {
  background: yellow;
}

.container-nav {
  max-width: 80%;
}

.navbar {
  background: yellow;
}

.navbar-right {
  margin-left: auto!important;
}

.navbar-brand {
  /* float: left; */
  height: 70px;
}

.pigLogo {
  position: absolute;
  z-index: 1;
}

#derecha {

}
/* Fin navbar */



/* footer */
#footer {
  background: yellow;
  width: 100%;
  margin: 0;
  padding: 0;

}

#footer hr {
  height: 0px;
  width: 100px;
  overflow: visible;
  border-color: black;
  margin: 5px auto;
}

li {
  color:black;
  text-decoration: none;
}

li:hover {
  color: white;
  text-decoration: none;
}

.hca {
  color: black;
}

.Coshipigua {
  color: black;
}

.Coshipigua:hover {
  text-decoration: none;
  color: black;
}
/* fin del footer */